service firebase.storage {
  match /b/{bucket}/o {
    match /soundFolder/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
    
    match /results_term0/{userId}/{allPaths=**} {
      allow read, write: if request.auth.uid == userId;
    }

    match /results_term0/uid_guestuser/{allPaths=**} {
      allow read, write: if true;
    }
    
    match /results_term1/{userId}/{allPaths=**} {
      allow read, write: if request.auth.uid == userId;
    }

    match /results_term1/uid_guestuser/{allPaths=**} {
      allow read, write: if true;
    }
    
    match /results_term2/{userId}/{allPaths=**} {
      allow read, write: if request.auth.uid == userId;
    }

    match /results_term2/uid_guestuser/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
